@charset "utf-8";

@import "http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css";

html {
  background: #c8843e url("../images/bg.png");
}

body {
  font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  font-size: 13px;
  overflow-y: scroll;
}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-table; }
/* Mac OS 版 IE には適用しない \*/
* html .clearfix {height: 1%; }
*+html .clearfix {height: 1%; }
.clearfix {display: block; }
/**/

a,
a:hover {
  pointer: cursor;
  text-decoration: none;
}

#container {
  padding-bottom: 15px;
}

#outerHeader {
  background-color: #1a1a1a;
  margin-bottom: 20px;
  border-bottom: 5px solid #565454;
}

#header {
  width: 770px;
  height: 30px;
  padding-top: 10px;
  margin: 0 auto;
  color: #fff;
}

#header a {
  color: #fafafa;
}

#header a:focus {
  outline: none;
}


h1#logo {
  float: left;
  width: 120px;
}

h1#logo a {
  font-size: 20px;
  font-weight: bold;
  color: #6D86B7;
}

#navi {
  float: right;
  background-color: #303030;
  border: 1px solid #424040;
  border-bottom: none;
}

#navi li {
  float: left;
  height: 29px;
}

#usrName {
  width: 100px;
  text-align: center;
  line-height: 29px;
  border-left: 1px solid #424040;
  font-size: 10px;
}

#navi a {
  display: inline-block;
  line-height: 22px;
  padding: 0 10px;
  text-align: center;
  width: 40px;
}

#navi a:hover {
  background-color: #494949;
}

#navi a img {
  padding-top: 7px;
}

#navi .sub {
  position: absolute;
  background-color: #303030;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

#navi .sub li {
  float: none;
}

#navi .sub li.last a:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

#content {
  width: 760px;
  margin: 0 auto 15px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#content a {
  color: #3B5998;
}

#content a:hover {
  text-decoration: underline;
}

#footer {
  width: 800px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #d8a365;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#loginForm .field {
  font-size: 11px;
  color: #555555;
  margin-bottom: 12px;
}

#loginForm .field label {
  font-size: 13px;
}

#loginForm .field label {
  font-weight: bold;
}

#loginForm .field input {
  width: 130px;
  height: 20px;
  border: 1px solid #ccc;
}

#loginForm .field input:focus {
  outline: none;
  background-color: #eff7fc;
}

#content h2 {
  font-weight: bold;
  display: inline;
  font-size: 17px;
  color: #555555;
  border-bottom: 3px solid #ff33cc;
}

#content h3 {
  padding: 3px;
  display: inline;
  font-weight: bold;
  border-bottom: 3px solid #c0f9dc;
}

#content .innerContent table a {
  color: #333;
}

#content .innerContent table a:hover {
  color: #e78f08;
}

.innerContent {
  padding-top: 20px;
}


.innerContent .field {
  margin-bottom: 20px;
  color: #333;
}

.innerContent .field label {
  width: 130px;
  text-align: right;
  float: left;
}

.innerContent .field .input {
  margin-left: 150px;
}

.innerContent .field input[type=text],
.innerContent .field input[type=password]{
  width: 130px;
  height: 20px;
  border: 1px solid #ccc;
}

.innerContent .field textarea{
  border: 1px solid #ccc;
}

.innerContent .field input[type=text]:focus,
.innerContent .field input[type=password]:focus,
.innerContent .field textarea:focus {
  outline: none;
  background-color: #eff7fc;
}

.innerContent .actions {
  margin: 0 0 20px 150px;
}

.innerContent .field_with_errors .message {
  color: #D00;
  float: none;
  padding-left: 10px;
}

#userList {
  font-size: 14px;
}

#userList li {
  list-style: disc inside;
}

#folderList a {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#folderList a:hover {
  text-decoration: none;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#folderList .fBlock {
  width: 118px;
  padding: 0 16px;
  height: 150px;
  float: left;
}

.fBlock .folder a {
  display: block;
  width: 100px;
  height: 59px;
  padding: 55px 10px 0 10px;
  word-break: break-all;
  text-align: center;
  background: url("/images/folder.png") 0 0;
  margin-bottom: 5px;
}

.itemCnt {
  float: left;
  padding: 0 10px 0 10px;
  border-right: 1px solid #ccc;
}

.num {
  font-size: 13px;
  font-weight: bold;
  color: #71b638;
}

.btnList {
  float: left;
  padding: 0 0 0 10px;
}

.clear {
  clear: both;
}

#tabs ul {
  background: none;
  border: none;
  margin-bottom: 15px;
}

#tabs ul li {
  border: none;
  width: 16px;
  height: 16px;
  padding-left: 2px;
}

#tabs ul li a {
  display: block;
  padding: 0;
  width: 16px;
  height: 16px;
}

#help {
}

#help .topic {
  float: left;
  width: 300px;
  padding: 15px 20px;
  margin: 10px 16px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#help p.icon_img {
  width: 32px;
  height: 32px;
  float: left;
}

#help h3 {
  float: left;
  width: 130px;
  height: 32px;
  line-height: 32px;
  padding-left: 15px;
  border: none;
  font-size: 20px;
}

#help h3 a {
  color: #333;
}

#help h3 a:hover {
  text-decoration: none;
}

#help .txtarea {
  padding: 10px;
  width: 280px;
  height: 150px;
  clear: both;
}

